In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv('features.csv')

In [4]:
df.head(30)

,num_forms,num_inputs,has_password_field,num_links,has_suspicious_keywords,num_external_links,has_external_form_action,label
0,1,2,0,152,1,151,1,0
1,1,0,0,153,0,69,0,0
2,0,0,0,128,1,34,0,0
3,0,0,0,628,1,617,0,0
4,2,5,0,87,1,51,1,0
5,0,0,0,197,1,16,0,0
6,1,1,0,155,1,149,1,0
7,1,1,0,154,1,22,0,0
8,1,3,0,371,0,8,0,0
9,1,1,0,78,1,29,0,0
10,0,0,0,41,1,31,0,1
11,1,1,0,133,0,132,1,1
12,0,0,0,3,0,0,0,1
13,0,0,0,25,0,24,0,1
14,0,0,0,0,0,0,0,1
15,1,6,1,48,1,0,0,1
16,1,2,1,16,1,0,0,1
17,1,2,1,15,1,0,0,1
18,1,2,1,27,1,22,0,1
19,1,20,0,0,0,0,0,1
20,0,0,0,4,0,2,0,1
21,0,0,0,0,0,0,0,1
22,1,5,1,4,1,0,0,1
23,0,0,0,18,0,18,0,1
24,4,15,0,18,0,2,0,1
25,4,15,0,18,0,2,0,1

In [5]:
df.describe()

,num_forms,num_inputs,has_password_field,num_links,has_suspicious_keywords,num_external_links,has_external_form_action,label
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,0.884615,3.115385,0.192308,95.115385,0.538462,53.038462,0.153846,0.615385
std,1.070586,5.339115,0.401918,139.201531,0.508391,123.692354,0.367946,0.496139
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,15.250000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,34.000000,1.000000,17.000000,0.000000,1.000000
75%,1.000000,2.750000,0.000000,147.250000,1.000000,33.250000,0.000000,1.000000
max,4.000000,20.000000,1.000000,628.000000,1.000000,617.000000,1.000000,1.000000

In [6]:
X = df.drop('label', axis=1)

In [7]:
y = df['label']

<bound method DataFrame.value_counts of     num_forms  num_inputs  has_password_field  num_links  \
0           1           2                   0        152
1           1           0                   0        153
2           0           0                   0        128
3           0           0                   0        628
4           2           5                   0         87
5           0           0                   0        197
6           1           1                   0        155
7           1           1                   0        154
8           1           3                   0        371
9           1           1                   0         78
10          0           0                   0         41
11          1           1                   0        133
12          0           0                   0          3
13          0           0                   0         25
14          0           0                   0          0
15          1           6                   1         48
16          1           2                   1         16
17          1           2                   1         15
18          1           2                   1         27
19          1          20                   0          0
20          0           0                   0          4
21          0           0                   0          0
22          1           5                   1          4
23          0           0                   0         18
24          4          15                   0         18
25          4          15                   0         18

    has_suspicious_keywords  num_external_links  has_external_form_action  \
0                         1                 151                         1
1                         0                  69                         0
2                         1                  34                         0
3                         1                 617                         0
4                         1                  51                         1
5                         1                  16                         0
6                         1                 149                         1
7                         1                  22                         0
8                         0                   8                         0
9                         1                  29                         0
10                        1                  31                         0
11                        0                 132                         1
12                        0                   0                         0
13                        0                  24                         0
14                        0                   0                         0
15                        1                   0                         0
16                        1                   0                         0
17                        1                   0                         0
18                        1                  22                         0
19                        0                   0                         0
20                        0                   2                         0
21                        0                   0                         0
22                        1                   0                         0
23                        0                  18                         0
24                        0                   2                         0
25                        0                   2                         0

    label
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1  >

In [ ]:
X =